/* Makes width and height easier to adjust */
* {
    box-sizing: border-box;
}

/* overflow: auto lets the container stretch to
accommodate the content */
body {
    background-image: url(../images/escher.png);
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
}

header {
    background-color: #ffffff;
    border-color: #cccccc;
    border-bottom: 4px solid;
}

.main h2 {
    font-size: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: solid 4px #cccccc;
    margin-bottom: 20px;
}

.heading {
    width: 960px;
    margin: 0 auto;
}

/* margin: 0 auto centers the element */
.topbar {
    margin: 0 auto;
    border-bottom: 3px solid #cccccc;
}

/* inline-block lets you change the padding, etc. */
header h1 {
    display: inline-block;
    padding: 25px;
    font-size: 25px;
}

header nav {
    float: right;
    color: #777777;
    display: inline-block;
    padding: 25px;
    font-size: 15px;
}

/* these borders create the dividing lines 
between the nav links. */
.link {
    border-right: 2px solid #dddddd;
    padding-right: 5px;
}

h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: Georgia;
}

h2 {
    background-color: #ffffff;
    color: #4aaaa5;
}

.main {
    width: 960px;
    background-color: #ffffff;
    border: 3px solid #dddddd;
    overflow: auto;
    font-size: 20px;
    line-height: 1.5;
    padding: 5px 20px 5px 20px;
    margin: 0 auto;
    margin-bottom: 150px;
    margin-top: 25px;
}

.profile_pic {
    float: left;
    margin: 0px 20px 5px 0px;
}

/* Creates spaces between paragraphs. */
.main p {
    margin-bottom: 20px;
}

/* Sticky footer trouble: tried flexbox, and 
relative/absolute positioning for main/bottombar.  
Index and Portfolio fine by virtue of content size, 
contact has a gap.  Fixed with increased main 
margin-bottom, but this is not a good solution 
long-term. */
.bottombar {
    background-color: #666666;
    border-top: solid 5px #4aaaa5;
    padding: 20px;
    text-align: center;
}

.field {
    width: 100%;
    padding: 12px 15px;
}

textarea {
    width: 100%;
    padding: 12px 15px;
    height: 150px;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: #ffffff;
    overflow: auto;
    padding: 12px 25px;
    font-size: 18px;
}

.box {
    background-color: #4aaaa5;
    padding: 10px 25px 10px 25px;
    margin-top: 130px;
    text-align: center;
    color: #ffffff;
}

/* I think I could use flex box more efficiently,
but this worked for this assignment.  Much
to learn.*/
.flex {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 30px;
}

#flora {
    display: inline-block;
    background-image: url(../images/flora.png);
    width: 275px;
    height: 200px; 
    overflow: auto;
}

#fauna {
    display: inline-block;
    background-image: url(../images/fauna.png);
    width: 275px;
    height: 200px; 
    overflow: auto;
}

#projects {
    display: inline-block;
    background-image: url(../images/projects.png);
    width: 275px;
    height: 200px; 
    overflow: auto;
}

#geekery {
    display: inline-block;
    background-image: url(../images/geekery.png);
    width: 275px;
    height: 200px; 
    overflow: auto;
}

#travels {
    display: inline-block;
    background-image: url(../images/travels.png);
    width: 275px;
    height: 200px;
    overflow: auto;
}

/* Adds gaps between flexbox children in the row. */
#flora, #projects, #travels {
    margin-right: 25px;
}